<template>
  <div class="container">
    <HelloWorld msg="Welcome to Your Vue.js App"/>
    <FancyHeading />
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'
import FancyHeading from '@/components/FancyHeading.vue'

export default {
  name: 'Home',
  components: {
    HelloWorld,
    FancyHeading
  }
}
</script>
