<template>
  <div class="hello">
    <h1>{{ info }}</h1>
  </div>
</template>

<script>
const axios = require('axios')
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  },
  data () {
    return {
      info: null
    }
  },
  mounted () {
    axios
      .get('https://api.coindesk.com/v1/bpi/currentprice.json')
      .then(response => (this.info = response))
  }
}
</script>
