<template>
  <div id="app" class="container">
    <nav id="nav" class="nav">
      <router-link to="/" class="nav-link">Home</router-link>
      <router-link to="/about" class="nav-link">About</router-link>
    </nav>
    <router-view/>
  </div>
</template>
